.Schedul-Table table{
    width: 850px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}
.Schedul-Table h1{
    height: 20px;
}
.Schedul-Table table tr,th,td{
    padding: 20px;
    color: white;
    border: 1px solid #E0BF4B;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(top ,#1C2333 0%,#302e2e 100%);
}
.Schedul-Table table tr td:first-child,th:first-child{
    width: 100px;
    font-weight: 900;
}
.Schedul-Table table tr:first-child th,.Formers table tr:first-child th{
    font-weight: 900;
}